---
import "../styles/global.css";
const { title = "VantaJax" } = Astro.props;
---

<html lang="en" class="bg-black text-slate-200">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <link rel="icon" href="/favicon.ico" />
    </head>

    <body class="min-h-screen bg-black text-slate-200 antialiased">
        <main class="mx-auto max-w-6xl px-4 py-8">
            <slot />
        </main>
    </body>
</html>
